
/*Reinicio default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  background-color: rgb(154, 203, 208);
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.bg-delta {
  background-color: rgb(73, 71, 128) ;
}

/* Estilos para mobile */

.estilo-header {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: ;
}

.logo-principal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


.parrafo-header {
  background-color: #2b2b2b;
  color: whitesmoke;
  font-size: 17px;
  font-style: italic;
  padding: 6px;
  display: inline-block;
  box-shadow: 10px 10px 10px grey;
  border-radius: 50px;
}

.que-es {
  padding: 15px;
  margin: 20px 50px;
  font-size: 17px;
  }

.carrusel {
   width: 100%;
  height: 100%;
  object-fit: cover;
  }


.quien-soy {
  background-color: rgb(122, 162, 227);
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 10%;
  border-radius: 25px;
  }

.quien-soy h2 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

.quien-soy img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.quien-soy p {
  padding: 20px;
  text-align: justify;
}

.titulo-servicios {
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
}
.grilla-horarios{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3 50%) ;
  row-gap: 1rem;
  padding: 4%;  
}

.grilla-horarios .horarios p {
  text-decoration: underline;
  }

.entrenamiento-distancia {
    text-align: center;
  }


h2+ul {
  background-color: rgb(130, 174, 185);
  text-align: center;
  list-style: inside;
  text-decoration: underline;
}

main {
  text-align: center;
}



.clase-gratis {
  font-style: italic;
}


.redes {
  list-style: none;
  font-size: 20px;
}

form {
  background-color: rgb(196, 202, 202);
  padding: 10px;
  margin: 0 auto;
  width: 300px;
  border-radius: 13px;
  
}
label {
  padding: 8px;
}

.soy {
  display: block;
}
input {
  outline: none;
  border: none;
  padding: 5px;
  width: 200px;
}

.fiel {
  width: 50px;
}


.center-content{
  text-align: center;
}

footer {
  font-size: 13px;
  text-align: center;
  padding: 20px;
}

/* .ancho-carrusel {
  width: 60%;
  height: 30%;
  background-color: #2b2b2b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-carrusel {
  height: 709px;
} */